p {font-size: 20px}
body {background-color: #D1F2EB

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f9e6ff;
  display: flex;
}

.nav {
    background-color: #ccffff;
}

.popcorn a:hover:not(.active) {
  background-color: #80ffff;
}

li {
  flex: 1;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #edb3ff;
}

li a.active {
  color: white;
  background-color: #e180ff;
}

.lavender {
  background-color: #ccccff;
}

input {
  display: block;
  margin: 20px 10px;
}

label {
  margin: 0px 10px
}

textarea {
  display: block;
  margin: 20px 10px;
}

button{
  margin: 20px 0px
}
